@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dhurjati&display=swap');

body {
  padding: 0;
  text-align: center;
  font-family: "Dhurjati";
  font-size: 18px;
}

#game-intro {
  display: block;
  padding: 20px 0px;
  background-color: antiquewhite;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Bungee Spice";
  font-size: 40px;
  text-shadow: 1px 2px #101011;
}
.header img {
  width: 14vw;
}
h2 {
  font-family: "Dhurjati";
  color: #101011;
  text-shadow: 1px 2px #f7f7fa;
  font-size: 28px;
  margin-top: 1px;
}

/* .arrow-instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
} */

.arrows-img {
  width: 210px;
}


#game-container {
  display: none;
  width: 100vw;
  padding: 30px 0px;
  justify-content: space-around;
  text-align: left;
  background-color: antiquewhite;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 12vw;
  font-weight: 900;
  line-height: 0.5;
  font-family: "Bungee Spice";
  font-size: 32px;  
  text-shadow: 1px 2px #101011;
}

#game-screen {
  display: flex;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../assets/brick-background.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 90vw;
  border: 2px solid #101011;
  border-radius: 10px;
  box-shadow: 5px 5px #271715;
}

#game-end {
  display: none;
}

#game-end img {
  width: 20vw;
}

body button {
  font-family: "Bungee Spice";
  text-shadow: 1px 2px #101011;
  font-size: 30px;
  background-color: #fffbfb;
  padding: 20px 40px;
  border: 1.2px dashed #271715;
  box-shadow: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px #271715;
  cursor: pointer;
}

body button:hover {background-color: rgb(208, 208, 206)}
body button:active {
  /* background-color: #229C88; */
  background-color: rgb(85, 39, 85);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}